<!-- DISPATCH TRUCK HISTORY

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{background-color:gray;}
    .container{position:absolute;top:20%;left:10%;background-color:white;height:60%;width:70%;}
    </style>
</head>
<body>
    <div class="container">
    <h4 style="margin:15px;text-align:center;background-color:gray;">Captive Truck Received History</h4>
    <form style="margin-top:30px;">
    e Trax Read Time <select name="cars" id="cars">
  <option value="Equal To">Equal To</option>
  <option value="Less Than">Less Than</option>
    <option value="Greater Than">Greater Than</option>
  <option value="Less Than Equal To">Less Than Equal To</option>
    <option value="Greater Than Equal To">Greater Than Equal To </option>
  <option value="Between">Between</option>
    <option value="Like">Like</option>
 

</select><input type="date"><br><br>
    e Trax Read Time To<select name="cars" id="cars">
  <option value="Equal To">Equal To</option>
  <option value="Less Than">Less Than</option>
    <option value="Greater Than">Greater Than</option>
  <option value="Less Than Equal To">Less Than Equal To</option>
    <option value="Greater Than Equal To">Greater Than Equal To </option>
  <option value="Between">Between</option>
    <option value="Like">Like</option>
 

</select><input type="date"><br>

     <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>
table
=====
<th>Challan Number</th>
    <th>Truck Number</th>
    <th>Loading Point</th>
    <th>Material Type</th>
   
    <th>Material Code</th>
    <th>Material Description</th>
    <th>Total Number Of Bundles</th>
    <th>Caluclated/Derived Weight</th>
    <th>eTrax Read Time</th>
    <th>Heat No</th>
    <th>Product ID</th>
