<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
    <tr>
    <th>Name</th>
    <th>Genre</th>
    </tr>
  
   <br>
   {% for x in  q %}
   {{x.nam}}:
   {% for y in r %}
   
  {% if x.nam == y.nam %}
  {{y.ct}},
  {% endif %}

  
  {% endfor %}
  :
  {% for y in r %}
  {% if x.nam == y.nam %}
  {{y.mve}},
  {% endif %}

  
  {% endfor %}
  <br>
   {% endfor %}
   
   
</body>
</html>