<!--this is the page which is used for generating reports-->
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>WorkOrder Id</th>
    <th>Scanned By</th>
    <th>Transaction ID</th>
    <th>Scanned Bundles</th>
    <th>Time</th>
    <Th></Th>
  </tr>

  <tr>
    <td>110144</td>
    <td>SGS019</td>
    <td>TR-22-1709557961702</td>
    <td>15M20002269902<br>15M2000269903<br>15M2000269904<br>15M200269905<br>15M200269906<br>15M200269908<br>15M200269910<br>15M200269911<br>15M200269912</td>
 <td>4/3/2024 18:44:10</td>
  </tr>
  <tr>
    <td>134425</td>
    <td>SGS017</td>
    <td>TR-22-1713752511769</td>
    <td>17P1659617383<br>17P1659617384<br>17P1659617387</td>
 <td>22/4/2024 7:53:37</td>
  </tr>
  <tr>
    <td>134501</td>
    <td>TEMP</td>
    <td>TR-22-1713760530403</td>
    <td>06S000047357<br>06S000047358<br>06S000047359<br>06S000047360<br></td>
 <td>22/4/2024 10:07:15</td>
  </tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>
<!-- PRE RAKE OUT REPORT THIS IS FILE

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{background-color:gray;}
    .container{position:absolute;top:20%;left:10%;background-color:white;height:60%;width:70%;}
    </style>
</head>
<body>
    <div class="container">
    <h4 style="margin:15px;text-align:center;background-color:gray;">Finished Workorder Detail</h4>
    <form style="margin-top:30px;">


  Workorder ID<select name="cars" id="cars">
  <option value="Equal To">Equal To</option>

    <option value="Like">Like</option>
 

</select><input type="text"><br><br>
     <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>



-->
