

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{background-color:gray;}
    .container{position:absolute;top:30%;left:30%;background-color:white;height:40%;width:40%;}
    </style>
</head>
<body>
    <div class="container">
    <h4 style="margin:15px;text-align:center;background-color:gray;">Hold Wagon History Report </h4>
    <form style="margin-top:40px; margin-left:60px;">
    Hook No:<select name="cars" id="cars" style="margin-left:5px;">
  <option value="Equal To">Equal To</option>
  <option value="Like">Like</option>
 </select>
     <input type="text">
     <input type="submit" value="Submit">
    </form>
    </div>
</body>



</html>




