<!--this is the page which is used for generating reports-->
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Indent No</th>
    <th>Destination</th>
    <th>Rake In time</th>
    <th>Loading Completed</th>
    <th>F-Note Generated Time</th>
    <th>Rake Out Time</th>
   
    
  </tr>
  <tr>
    <td>240263</td>
    <td>SGTY</td>
    <td>03/03/2024 20:54:57</td>
    <td>04/03/2024 8:45:03</td>
    <td>2024-03-04 8:40:57</td>
    <td>04/03/2024 8:46:48</td>
  </tr>
  <tr>
    <td>240268</td>
    <td>BVH</td>
    <td>03/03/2024 15:04:20</td>
    <td>03/03/2024 23:23:59</td>
    <td>2024-03-04 22:35:05</td>
    <td>03/03/2024 23:25:35</td>
  </tr>
  <tr>
    <td>240255</td>
    <td>SGWF</td>
    <td>03/03/2024 7:33:42</td>
    <td>04/03/2024 18:33:43</td>
    <td>2024-03-04 18:02:39</td>
    <td>04/03/2024 18:39:08</td>
  </tr>
<!--this is rake in and rake out of rakes i.e when into and finsihed-->
<tr>
  <td>240438</td>
  <td>KKF</td>
  <td>15/05/2024 13:09:21</td>
  <td>15/03/2024 17:31:23</td>
  <td>15/4/2024 17:31:23</td>
  <td>15/04/2024 17:47:08</td>
</tr>
<tr>
  <td>240432</td>
  <td>PLMD</td>
  <td>14/04/2024 21:51:13</td>
  <td>15/03/2024 08:39:47</td>
  <td>15/4/2024 08:18:12</td>
  <td>15/04/2024 08:49:07</td>
</tr>
 
</table>

</body>
</html>

