<!--this is the page which is used for generating reports-->
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Bin</th>
    <th>Material Code</th>
    <th>Material Description</th>
    <th>No of Materials </th>
    <th>Age of Bin</th>
    
 

  </tr>
  <tr>
    <th>W214</th>
    <th>611040000</th>
    <th>BLOOM 320*250 MM WT</th>
    <th>277</th>
    <th>105d 05h 36m</th>
    
 

  </tr>
  <tr>
    <th>W143</th>
    <th>1512000040800300</th>
    <th>TMT REBAR 40MM IS 178 FE500D</th>
    <th>13</th>
    <th>129D 23 H 55 M</th>
    
 

  </tr>
  <tr>
    <th>W261</th>
    <th>1512000040800300</th>
    <th>TMT REBAR 40MM IS 178 FE500D</th>
    <th>103</th>
    <th>2D 9H 11m</th>
    
 

  </tr>
  <tr>
    <th>W254</th>
    <th>1512000040800300</th>
    <th>TMT REBAR 40MM IS 178 FE500D</th>
    <th>5</th>
    <th>2D 9H 07m</th>
    
 

  </tr>
  <tr>
    <td>Alfreds Futterkiste<br>Alfreds Futterkiste<br>Alfreds Futterkiste<br>Alfreds Futterkiste<br>Alfreds Futterkiste<br></td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>

