
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{background-color:gray;}
    .container{position:absolute;top:20%;left:10%;background-color:white;height:60%;width:40%;}
    table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
        
    </style>
</head>
<body>

<table>
  <tr>
    <th>Indent No</th>
    <th>Wagon Name</th>
    <th>Sequence=>Loaded Bundle</th>
    <th>Loaded Unique Product ID-[Heat Code]</th>
    <th>Material Description</th>
    <th>Workorders</th>
    <th>Weight(Mt)</th>
    <th>Scanned Unique Product Id</th>
    <th>Scanned Bundles</th>
    <th>User Id</th>

  </tr>
  <table>


</html>





