<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{background-color:gray;}
    .container{position:absolute;top:20%;left:10%;background-color:white;height:60%;width:70%;}
    </style>
</head>
<body>
    <div class="container">
    <h4 style="margin:15px;text-align:center;background-color:gray;">Pre Rake Out Verification</h4>
    <form style="margin-top:30px;">
    Indent No:<select name="cars" id="cars">
  <option value="Equal To">Equal To</option>
  
    <option value="Like">Like</option>
 

</select><input type="text"><br>

     <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>

