
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{background-color:gray;}
    .container{position:absolute;top:20%;left:20%;background-color:white;height:60%;width:50%;}
    </style>
</head>
<body>
    <div class="container">
    <h4 style="margin:15px;text-align:center;background-color:gray;">Rake Plan Material Change based on Prev Revision</h4>
    <form style="margin-top:30px;">
      
    Indent No<select name="cars" id="cars">
  <option value="Equal To">Equal To</option>
  <option value="Less Than">Less Than</option>
    <option value="Greater Than">Greater Than</option>
  <option value="Less Than Equal To">Less Than Equal To</option>
    <option value="Greater Than Equal To">Greater Than Equal To </option>
  <option value="Between">Between</option>
    <option value="Like">Like</option>
 

</select><input type="date"><br><br>
    Rev No.<select name="cars" id="cars">
  <option value="Equal To">Equal To</option>
  <option value="Less Than">Less Than</option>
    <option value="Greater Than">Greater Than</option>
  <option value="Less Than Equal To">Less Than Equal To</option>
    <option value="Greater Than Equal To">Greater Than Equal To </option>
  <option value="Between">Between</option>
    <option value="Like">Like</option>
 

</select><input type="text"><br>

     <input type="submit" value="Submit" style="position:relative;margin-top:20%;left:40%; padding:10px 30px;">
    </form>
    </div>
</body>
</html>