<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style> 
#myDIV {
  width: 300px;
  height: 50px;
  background-color: coral;
  color: white;
}
#y{
   height:200px;
   border:3px solid black;

}
table { 
  font-family: arial, sans-serif;
  border-collapse: collapse;
width:100%;
margin-top:20px;
margin-right: 10px;
   
}

td, th {
  border: 2px solid black;
padding:4px 12px;
text-align: left;

}
</style>
</head>
<body>
<h1>Change background-color with JavaScript</h1>

<p>Click the "Try it" button to set the background-color property of the DIV element to "lightblue":</p>
<!--








  
-->
<button onclick="myFunction()">Try it</button>
<button onclick="f()"><a href="#">SweetAlert</a></button>

{% for x in w %}
<div  style="  width: 300px;
  height: 50px;
  background-color: coral;
  color: white;"id="{{x.val}}">
  <h1>{{x.nam}}</h1>
</div>
{% endfor %}

<!-- zoom in and zoom out -->
<br>
<div id="y" onmouseover="increase()" style="width:300px;" onmousedown="decrease()">Hii</div>
<script>
    
function myFunction() {
  {% for x in w %}
 
  document.getElementById("{{x.val}}").style.backgroundColor = "green";
  {% endfor %}
}
function increase(){
    document.getElementById("y").style.width='400px'
}
function decrease(){
    document.getElementById("y").style.width='200px'
}

</script>
{% for x in w %}
<button onclick="{{x.val}}()">SweetAlert</button>
<script>
function {{x.val}}(){
  Swal.fire({
  title: "Do you want to show changes to {{x.nam}}?",
  showDenyButton: true,
  showCancelButton: true,
  confirmButtonText: "Save",
  denyButtonText: `Don't save`
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    
    Swal.fire("Saved","{{x.val}}", "success");
  } else if (result.isDenied) {
    Swal.fire("Changes are not saved", "", "error");
  }
});
}

</script>
{% endfor %}
<table>
  <!--
  <tr>
   <td rowspan="2" style="text-align: center;">Date</td>
 <td rowspan="2" style="text-align: center;">Truck</td>
 <th colspan="2" scope="colgroup" style="text-align: center;">Hook Status</th>

</tr>
<tr>
 <th scope="col">Received</th>
 <th scope="col">Unloaded</th>
 
</tr>
-->
<tr>
  <td colspan="2" style="text-align: center;">eTrax Workorder</td>  
  
  <td colspan="3">Material Processing</td>

    <td colspan="1">04/03/24 12:16:36</td>
 </tr>
 <tr>
  <td colspan="4">WO CHALLAN NO - 109194</td>  
 
    <td colspan="2">Challan no 9002401309</td>
 </tr>

<tr>
 <td colspan="2" style="text-align: center;">Truck Id</td>  
 <td colspan="2">Issued Time</td>
   <td colspan="2">Issued By</td>

</tr>
<tr>
  <td colspan="2" style="text-align: center;">220-C2-DUMMY3</td>  
  <td colspan="2">02/03/24 17:32:08</td>
    <td colspan="2">TEMP</td>
 
 </tr>

<tr>
  <td colspan="6" style="text-align: center;">SOURCE</td>
</tr>
<tr>
 <td rowspan="1" style="text-align: center;">ZONE</td>  
 <td>CSPY EAST BLOCK</td>
   <td>BAY</td>
   <td>Storage</td>
   <td>BIN</td>
   <td>EB008</td>
</tr>

<tr>
  <td colspan="6" style="text-align: center;">SOURCE </td>
</tr>
<tr>
 <td rowspan="1" style="text-align: center;">ZONE</td>  
 <td>Reprocessing</td>
   <td>BAY</td>
   <td>Parking</td>
   <td>BIN</td>
   <td>MP</td>
</tr>
<tr>
  <td colspan="6" style="text-align: center;">MATERIAL  </td>
</tr>
<tr>
 <td colspan="2" style="text-align: center;">MATERIAL-DESCRIPTION (SIZE-DESCRIPTION)</td>  
 <td colspan="2" >MATERIAL CODE</td>
   <td>NO OF BUNDLES</td>
   <td>DERIVED WEIGHT</td>
   
</tr>
<tr>
  <td  style="text-align: center;" colspan="2">TMT REBAR IN COIL 8MM IS 1786 FE550D</td>  
  <td colspan="2">16120000880701</td>
   
    <td>5,000</td>
    <td>10,000</td>
   
 </tr>
 <tr>
  <td colspan="6" style="text-align: center;">REMARKS</td>
</tr>
<tr>
  <td colspan="6" style="text-align: center;">Report generated by MANIKANTA IN e Trax at 04/03/24 12:16:36 </td>
</tr>
<tr>
  <td colspan="6" style="text-align:left;">WEIGHT ADJUSTMENT REMARK </td>
</tr>
<tr>
  <td></td>
  <td colspan="2">Accept</td>
  <td></td>
  <td>Adjustment</td>
  <td colspan="2">_________________________________________________________</td>
</tr>
<tr>
  <td></td>
  <td colspan="2">Accept</td>
  <td></td>
  <td>Adjustment</td>
  <td colspan="4">_________________________________________________________</td>
</tr>
<tr>
  <td></td>
  <td colspan="2">Accept</td>
  <td></td>
  <td>Adjustment</td>
  <td colspan="4">_________________________________________________________</td>
</tr>
<tr>
  <td></td>
  <td colspan="2">Accept</td>
  <td></td>
  <td>Adjustment</td>
  <td colspan="2">_________________________________________________________</td>
</tr>
</table>
</body>
</html>
<!--
pre rake configuration table 

on clicking preview erp
<placement memo>  <gross weightment> <heat details> <material details> 


  

















-->