<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{background-color:gray;}
    .container{position:absolute;top:20%;left:10%;background-color:white;height:60%;width:70%;}
    </style>
</head>
<body>
    <div class="container">
    <h4 style="margin:15px;text-align:center;background-color:gray;">Semi Material History</h4>
    <form style="margin-top:30px;">


  Indent No:<select name="cars" id="cars">
  <option value="Equal To">Equal To</option>

    <option value="Like">Like</option>
 

</select><input type="text"><br><br>

Heat Number:<select name="cars" id="cars">
    <option value="Equal To">Equal To</option>
  
      <option value="Like">Like</option>
   
  
  </select><input type="text"><br><br>
  Activty Time From<select name="cars" id="cars">
    <option value="Equal To">Equal To</option>
    <option value="Less Than">Less Than</option>
      <option value="Greater Than">Greater Than</option>
    <option value="Less Than Equal To">Less Than Equal To</option>
      <option value="Greater Than Equal To">Greater Than Equal To </option>
    <option value="Between">Between</option>
      <option value="Like">Like</option>
   
  
  </select><input type="date">
  Activity Time To<select name="cars" id="cars">
    <option value="Equal To">Equal To</option>
    <option value="Less Than">Less Than</option>
      <option value="Greater Than">Greater Than</option>
    <option value="Less Than Equal To">Less Than Equal To</option>
      <option value="Greater Than Equal To">Greater Than Equal To </option>
    <option value="Between">Between</option>
      <option value="Like">Like</option>
   
  
  </select><input type="date">

     <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>